---
title: 验证笔记
date: 2023-10-22 16:09:36
tags: RISC-V
---

验证进阶操作

<!--more-->

# 参考资料

1. [数字IC验证进阶之路共5篇](https://www.zhihu.com/column/c_1571548204222660608)
